@use "../setting/variable" as *;
@use "../setting/mixin" as *;
@use "../setting/function" as *;
@use "sass:map";



/* マージン
-----------------------------------*/
.mb0 {
	margin-bottom: 0 !important;
}

/* インデント
-----------------------------------*/
.indent {
	margin-left: 1em;
	text-indent: -1em;
}

/* ページタイトル
-----------------------------------*/
.b-mainTitle {
	h2 {
		font-family: 'Open Sans', sans-serif;
		font-size: 45px;
	}
	span {
		display: block;
		font-size: 12px;
		position: relative;
		font-family: 'Sawarabi Gothic', sans-serif;
		font-weight: bold;
	}
}

@keyframes SlideIn {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-150px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInRight {
	from {
		opacity: 0;
		transform: translateX(150px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

/* パンくず
-----------------------------------*/
.pnkz {
	display: flex;
	font-size: 14px;
	line-height: 1;
	margin: 30px auto 55px;
	@include mq(max, tb) {
		margin: 20px auto;
	}
	li {
		a {
			color: #333;
		}
		&:not(:first-of-type) {

			&::before {
				content: ">";
				display: inline-block;
				padding: 0 10px;
			}
		}
	}
}


/* 見出し
-----------------------------------*/
.heading {

	&01 {
		position: relative;
		font-size: 27px;
		font-family: "NotoSansJP-Black";
		background-color: #000;
		line-height: 1.2;
		padding: 10px 30px;
		color: #FFF;
		margin-bottom: 44px;
		@include mq(max, tb) {
			font-size: 18px;
			padding: 10px 19px;
			margin-bottom: 25px;
		}

		&::before {
			content: "";
			width: 8px;
			height: 100%;
			background-color: #FF0030;
			position: absolute;
			top: 0;
			left: 0;
			@include mq(max, tb) {
				width: 4px;
			}
		}
	}
}

/* テーブル
-----------------------------------*/

/* [ボタン関連] レイアウト
-----------------------------------*/
.more-btn {
	border-radius: 5px;
	width: 140px;
	float: right;
	@include mq(max, tb) {
		width: 180px;
	}
	a {
		display: block;
		width: 100%;
		text-align: left;
		font-size: 16px;
		font-family: "Open Sans", sans-serif;
		@include mq(max, tb) {
			font-size: 18px;
		}
		span {
			display: block;
			margin: 0 0 5px 0;
		}
	}
}
.stick-arrow {
	position: relative;
	width: 100%;
	margin: 0;
	>div {
		background-color: $main_color;
		&:first-child {
			height: 2px;
		}
		&:last-child {
			position: absolute;
			top: 0;
			right: 0;
			transform-origin: right bottom;
			width: 20px;
			height: 2px;
			transform: rotate(45deg);
		}
	}
}


/* [アンカー] レイアウト
-----------------------------------*/
.anc-area {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 90px;
	@include mq(max, tb) {
		margin-bottom: 30px;
	}

	li {
		position: relative;
		@include mq(max, tb) {
			width: calc((100% - 8px) / 2);
		}
		@include mq(max, 499) {
			width: 100%;
			margin-right: 0 !important;
		}

		@keyframes jump {
			0% {
				transform: translate(-50%, 40%);
			}
			100% {
				transform: translate(-50%, 25%);
			}
		}

		.icon-new {
			position: absolute;
			bottom: 100%;
			left: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.4em 1.5em 0.4em;
			color: #000;
			font-size: 14px;
			font-family: "Montserrat-BlackItalic";
			font-weight: 600;
			line-height: 1;
			background: #ff0;
			border-radius: 3px;
			box-shadow: 0 0 4px rgb(0 0 0 / 30%);
			transform: translate(-50%, 30%);
			animation: jump 0.7s ease-in-out 0s infinite;
			@include mq(max, tb) {
				font-size: 11px;
				padding: 0.2em 1em 0.2em;
			}
			&::after {
				content: "";
				position: absolute;
				top: 97%;
				left: 50%;
				display: block;
				border-top: 0.8rem solid #ff0;
				border-right: 0.5rem solid transparent;
				border-left: 0.5rem solid transparent;
				transform: translateX(-50%);
				@include mq(max, tb) {
					border-top: 0.4rem solid #ff0;
				}
			}
		}

		a {
			display: flex;
			border: solid 1px #000;
			color: #000;
			height: 61px;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			font-family: "NotoSansJP-Bold";
			padding: 12px 34px;
			background-repeat: no-repeat;
			background-size: 12px 14px;
			background-position: calc(100% - 22px) center;
			transition: .35s;
			@include mq(max, ct) {
				height: vw(61, $ct);
				font-size: 10px;
				padding: vw(12, $ct) 34px;
			}
			@include mq(max, tb) {
				font-size: 11px;
				padding: 9px 15px;
				background-size: 8px 10px;
				background-position: calc(100% - 11px) center;
				height: auto;
			}

			&:hover {
				color: #FFF;
				background-color: #000;
				opacity: 1;
			}
		}

		@include mq(max, tb) {
			&:not(:nth-of-type(-n+2)) {
				margin-top: 8px;
			}

			&:not(:nth-of-type(2n)) {
				margin-right: 8px;
			}

			@include mq(max, 499) {
				&:not(:first-of-type) {
					margin-top: 8px;
				}
			}
		}

		&.btn01 {

			a {
				background-size: 14px 12px;
				//background-image: url(/images/common/arrow_ic06.svg);
				@include mq(max, tb) {
					background-size: 10px 8px;
				}
			}
		}

		&.arrow-right {

			a {
				background-size: 14px 12px;
				//background-image: url(/images/common/arrow_ic06.svg);
				@include mq(max, tb) {
					background-size: 10px 8px;
				}
			}
		}
	}


	&.anc-col {

		&2 {
			max-width: calc((353px * 2) + 20px);
			margin-left: auto;
			margin-right: auto;
			li {
				@include mq(min, tb) {
					width: calc((100% - 20px) / 2);
					@include mq(max, ct) {
						width: calc((100% - #{vw(20, $ct)}) / 2);
					}
					&:not(:nth-of-type(-n+2)) {
						margin-top: 24px;
						@include mq(max, ct) {
							margin-top: vw(24, $ct);
						}
					}

					&:not(:nth-of-type(2n)) {
						margin-right: 20px;
						@include mq(max, ct) {
							margin-right: vw(20, $ct);
						}
					}
				}
			}
		}

		&3 {

			li {
				@include mq(min, tb) {
					width: calc((100% - 40px) / 3);
					@include mq(max, ct) {
						width: calc((100% - #{vw(40, $ct)}) / 3);
					}
					&:not(:nth-of-type(-n+3)) {
						margin-top: 24px;
						@include mq(max, ct) {
							margin-top: vw(24, $ct);
						}
					}

					&:not(:nth-of-type(3n)) {
						margin-right: 20px;
						@include mq(max, ct) {
							margin-right: vw(20, $ct);
						}
					}
				}
			}
		}
	}
}


/* 共通クラス
-----------------------------------*/
.flex-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.text-overflow {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}