@use "../setting/variable" as *;
@use "../setting/mixin" as *;
@use "../setting/function" as *;
@use "sass:map";

.l-footer {
  width: 100%;
  background-color: $back_color_black;
  padding: 50px 40px 40px 55px;
  @include mq(max, tb) {
    display: block;
    padding: 35px 0;
  }
  &__logo {
    @include mq(max, tb) {
      text-align: center;
      margin-bottom: 30px;
    }
  }
  &__menu {
    max-width: 240px;
    width: 100%;
    @include mq(max, tb) {
      max-width: 300px;
      margin: auto;
    }
    .flex-list {
      align-items: end;
      margin-bottom: 40px;
      >div {
        display: flex;
        flex-flow: column;
        a {
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
    >p {
      font-size: 14px;
      color: $font_color_white;
      @include mq(max, tb) {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.f-menuList {
  &__item {
    color: $font_color_white;
    margin-bottom: 4px;
    @include mq(max, tb) {
      margin-bottom: 10px;
    }
    &:last-child { margin-bottom: 0; }
    a {
      color: $font_color_white;
      font-size: 14px;
      @include mq(max, tb) {
        font-size: 16px;
      }
    }
  }
}