@use "../setting/variable" as *;
@use "../setting/mixin" as *;
@use "../setting/function" as *;
@use "sass:map";


/**
 * [ヘッダー] レイアウト
 */
.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  padding: 10px 30px;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  background-color: $back_color_white;
  @include mq(max, tb) {
    padding: 5px 10px;
    background-color: $back_color_white;
  }
}
.l-logo {
  width: 340px;
  @include mq(max, tb) { width: 210px; }
}
.top .l-header {
  box-shadow: none;
  background-color: transparent;
  &.ac {
    background-color: $back_color_white;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    .global-navi {
      &__item a span {
        color: $font-color_black;
      }
    }
  }
}

/**
 * [グローバルメニュー] レイアウト
 */
.global-navi {
  display: flex;
  align-items: center;
  @include mq(max, tb) {
    display: block;
    position: absolute;
    overflow-y: scroll;
    right: 0;
    top: -40px;
    width: 80%;
    height: calc(100vh + 40px);
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, .85);
    transition: ease .4s;
    padding: 100px 15px 0;
  }
  &__item {
    padding: 0 10px;
    @include mq(max, tb) {
      width: 100%;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
        padding: 10px;
        img {
          width: 40px;
        }
      }
    }
    a {
      display: block;
      text-align: center;
      @include mq(max, tb) {
        text-align: center;
      }
      span {
        display: block;
        color: $font_color_black;
        @include mq(max, tb) {
          color: $font_color_black;
        }
        &:first-child {
          font-size: 22px;
          font-family: 'Open Sans', sans-serif;
        }
        &:last-child {
          font-size: 14px;
          font-family: 'Sawarabi Gothic', sans-serif;
        }
      }
    }
    &.ac a {
      &:hover { opacity: 1; }
    }
  }
  &.ac {
    transform: translateX(0);
  }
  .insta-img {
    width: 50px;
    @include mq(max, 900) {
      width: 30px;
    }
  }
}
.top .global-navi {
  &__item {
    a span {
      color: $font_color_white;
      @include mq(max, tb) {
        color: $font_color_black;
      }
    }
  }
}

/**
 * [ハンバーガー] レイアウト
 */
.l-header__hamburger {
  width: 48px;
  height: 48px;
}
.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
  span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease .4s;
    display: block;
    &:nth-child(1) { top: 0; }
    &:nth-child(2) { margin: 8px 0; }
    &:nth-child(3) { top: 0; }
  }
  &.ac {
    span {
      &:nth-child(1) {
        top: 5px;
        transform: rotate(45deg);
      }
      &:nth-child(2) { opacity: 0; }
      &:nth-child(3) {
        top: -13px;
        transform: rotate(-45deg);
      }
    }
  }
}