@use "setting/variable" as *;
@use "setting/mixin" as *;
@use "setting/fonts" as *;
@use "setting/function" as *;
@use "sass:map";

/**
 * [FAQ コンテンツ] レイアウト
 */
.faq-contents {
  max-width: $mainWidth;
  width: 100%;
  padding: 0 100px;
  margin: auto;
  @include mq(max, tb) {
    max-width: 100%;
    padding: 0 10px;
  }
}


.faq-box {
  -webkit-transition: padding .3s cubic-bezier(.215,.61,.355,1) 0s,border .3s cubic-bezier(.215,.61,.355,1) 0s,background-color .3s cubic-bezier(.215,.61,.355,1) 0s;
  transition: padding .3s cubic-bezier(.215,.61,.355,1) 0s,border .3s cubic-bezier(.215,.61,.355,1) 0s,background-color .3s cubic-bezier(.215,.61,.355,1) 0s;
  background-color: rgba(255,255,255,0);
  &__q {
    position: relative;
    cursor: pointer;
    >a {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 25px 0;
      -webkit-transition: border-color .3s cubic-bezier(.215,.61,.355,1) 0s;
      transition: border-color .3s cubic-bezier(.215,.61,.355,1) 0s;
      border-top: 1px solid #e9ecef;
      border-bottom: 1px solid rgba(233,236,239,0);
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      font-weight: bold;
      &:before {
        font-family: Mont-SemiBold,sans-serif;
        font-size: vw(20, 1500);
        line-height: 1em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 70px;
        height: 70px;
        margin-right: 1.25rem;
        content: 'Q';
        -webkit-transition: border-color .3s cubic-bezier(.215,.61,.355,1) 0s;
        transition: border-color .3s cubic-bezier(.215,.61,.355,1) 0s;
        letter-spacing: 0;
        color: $main_color;
        border: 0.15rem solid $main_color;
        border-radius: 50%;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        @include mq(max, tb) {
          width: 50px;
          height: 50px;
          font-size: vw(40, tb);
          margin-right: .8rem;
        }
      }
      @include mq(min, tb) {
        &:hover {
          p { color: $main_color; }
        }
      }
    }
  }
  &__a {
    height: 0;
    overflow: hidden;
    >div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 20px 0;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      font-weight: bold;
      &:before {
        font-family: Mont-SemiBold,sans-serif;
        font-size: vw(20, 1500);
        line-height: 1em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 70px;
        height: 70px;
        margin-right: 1.25rem;
        content: 'A';
        letter-spacing: 0;
        color: #fff;
        border-radius: 50%;
        background-color: $main_color;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        @include mq(max, tb) {
          width: 50px;
          height: 50px;
          font-size: vw(40, tb);
          margin-right: .8rem;
        }
      }
    }
  }
  &.open {
    padding: 0 1.25rem;
    border-radius: 1.0625rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0.625rem 0.625rem 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0.625rem 0.625rem 0 rgb(0 0 0 / 10%);
    margin-bottom: 30px;
    @include mq(max, tb) {
      padding: 0 0.9rem;
    }
    .i_box:after {
      height: 0;
    }
    .faq-box__q {
      >a {
        border-top-width: 0;
        border-bottom-color: #e9ecef;
      }
    }
    .faq-box__a {
      height: auto;
    }
  }
  p {
    font-size: vw(18, 1500);
    color: $font_color_black_dark;
    @include mq(max, tb) {
      font-size: vw(30, tb);
    }
  }
}

.i_box {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 1.25rem;
  &:before,
  &:after {
    position: absolute;
    content: "";
    margin: auto;
    box-sizing: border-box;
    vertical-align: middle;
  }
  &:before {
    border-top: 2px solid $border_color_black;
    width: 20px;
    height: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &:after {
    border-left: 2px solid $border_color_black;
    width: 0;
    height: 20px;
    top: 0;
    bottom: 0;
    right: 9px;
    transition: .3s;
  }
}


.modal-contents {
  padding: 50px;
  overflow: scroll;
  max-height: 100vh;
  @include mq(max, tb) {
    padding: 10px;
  }
  p {
    line-height: 2vw;
    @include mq(max, tb) {
      line-height: 8vw;
    }
    span {
      display: block;
      padding: 10px 10px 10px 30px;
      @include mq(max, tb) {
        padding: 10px 10px 10px 20px;
      }
    }
  }
  a {
    display: block;
  }
}