@use "setting/variable" as *;
@use "setting/mixin" as *;
@use "setting/fonts" as *;
@use "setting/function" as *;
@use "sass:map";


.under-page__contents {
  margin-bottom: 60px;
  .cts {
    margin: 0 auto 60px;
    @include mq(max, tb) { margin: 0 auto 40px; }
  }
}
/**
 * [受講案内 メッセージ] レイアウト
 */
.b-flowMsg {
  &__contents {
    display: flex;
    align-items: center;
    max-width: 900px;
    width: 100%;
    margin: auto;
    position: relative;
    @include mq(max, 900) { max-width: 100%; }
    @include mq(max, tb) {
      display: block;
      max-width: 100%;
      padding: 0 30px;
    }
    .cell {
      &:nth-child(1) {
        margin-right: 50px;
        @include mq(max, tb) { margin-right: 0; }
        ul {
          &:first-child {
            margin-bottom: 50px;
            @include mq(max, tb) { margin-bottom: 10px; }
          }
          li {
            padding-left: 1em;
            text-indent: -1em;
          }
        }
      }
      &:nth-child(2) {
        img { width: 80%; }
        @include mq(max, tb) {
          margin-top: 50px;
          img { width: auto; }
        }
      }
    }
    .sp {
      text-align: center;
    }
  }

}

.b-flowList {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 40px;
  @include mq(max, tb) {
    max-width: 100%;
    margin: 0 auto 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    background-color: $color_pink_thin_2;
    padding: 20px 100px;
    border-radius: 10px;
    @include mq(max, tb) { padding: 20px; }
    @include mq(max, 500) { padding: 15px 10px; }
    >img {
      margin-right: 30px;
      width: vw(40, 1500);
      @include mq(max, tb) {
        margin-right: 10px;
        width: vw(44, tb);
      }
      @include mq(max, 500) { margin-right: 0; }
    }
    >p {
      font-size: vw(18, 1500);
      @include mq(max, tb) { font-size: vw(23, tb); }
      @include mq(max, 450) { font-size: vw(28, tb); }
    }
  }
  li {
    &:nth-child(even) {
      text-align: center;
      margin: 20px 0;
      @include mq(max, tb) {
        margin: 10px 0;
      }
      img { width: 25px; }
    }
  }
}
.red-txt {
  color: $font_color_red_dark;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0;
  @include mq(max, tb) {
    margin: 0;
  }
  a {
    display: block;
    margin-right: 60px;
    border: 1px solid $border_color_black;
    padding: 20px 30px;
    font-size: vw(16, 1500);
    color: $font_color_black;
    @include mq(max, tb) {
      margin-right: 0;
      font-size: vw(18, tb);
    }
  }
}