@use "setting/variable" as *;
@use "setting/mixin" as *;
@use "setting/fonts" as *;
@use "setting/function" as *;
@use "sass:map";


.b-mainTitle .cell:first-child > div {
  left: 0;
  transform: translateY(-50%) translateX(-10%);
  -webkit-transform: translateY(-50%) translateX(10%);
  @include mq(max, tb) {
    left: auto;
    transform: unset;
    padding: 50px 30px;
  }
  h2 {
    font-size: vw(35, 1500);
    @include mq(max, tb) {
      font-size: vw(35, tb);
    }
  }
  span {
    @include mq(max, tb) {
      font-size: vw(30, tb);
    }
  }
}

.under-page__contents {
  .cts {
    max-width: 1000px;
    width: 100%;
    padding: 0;
    @include mq(max, 1000) {
      max-width: 90%;
    }
  }
}

.sub-title {
  padding: 0 30px 8px;
  margin-bottom: 20px;
  border-bottom: 2px solid $border_color_black_thin;
  display: flex;
  align-items: center;
  @include mq(max, tb) {
    padding: 0 10px 10px;
    margin-bottom: 10px;
  }
  span {
    display: inline-block;
    font-size: vw(28, 1500);
    margin-right: 50px;
    @include mq(max, tb) {
      font-size: 22px;
      margin-right: 30px;
    }
  }
  img {
    width: 80px;
    @include mq(max, tb) {
      width: 100px;
    }
  }
}

/**
 * [紹介] レイアウト
 */
.introduction-box {
  margin-bottom: 100px;
  @include mq(max, tb) { margin-bottom: 50px; }
  &__title {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    @include mq(max, tb) {
      display: block;
      width: 90%;
      margin: auto;
    }
    .cell {
      width: 50%;
      position: relative;
      @include mq(max, tb) {
        width: 100%;
        text-align: center;
      }
    }
    h3 {
      display: inline-block;
      padding: 30px;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) translateX(0%);
      -webkit-transform: translateY(-50%) translateX(0%);
      font-family: fot-tsukuardgothic-std, sans-serif;
      @include mq(max, 1000) {
        font-size: vw(28, 1000);
      }
      @include mq(max, tb) {
        position: relative;
        transform: unset;
        font-size: vw(35, tb);
        padding: 40px 0;
      }
      &:after {
        content: "";
        display: block;
        margin-top: 5px;
        width: 100%;
        height: 1px;
        background-color: $border_color_black_thin;
      }
    }
  }
  &__contents {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    @include mq(max, tb) {
      display: block;
      padding: 0;
      margin: auto;
    }
    .cell {
      &:first-child {
        width: 47%;
        @include mq(max, tb) {
          width: 100%;
          margin-bottom: 40px;
        }
      }
      &:last-child {
        width: 45%;
        @include mq(max, tb) {
          width: 100%;
          margin-bottom: 40px;
        }
        >div {
          &:first-child {
            margin-bottom: 80px;
            @include mq(max, tb) {
              margin-bottom: 50px;
            }
          }
          &:last-child {
            .sub-title img {
              width: 120px;
              @include mq(max, tb) {
                width: 150px;
              }
            }
            table {
              width: 100%;
              border-collapse: separate;
              border-spacing: 0 10px;
              th, td {
                font-size: vw(14, 1500);
                @include mq(max, tb) { font-size: vw(22, tb); }
              }
              th {
                width: 25%;
                border: 2px solid $border_color_black;
                text-align: center;
                padding: 10px 0;
              }
              td {
                padding: 10px 20px;
                border-top: 2px solid $border_color_black;
                border-right: 2px solid $border_color_black;
                border-bottom: 2px solid $border_color_black;
                @include mq(max, tb) { padding: 10px 8px; }
              }
            }
          }
        }
      }
      p {
        line-height: 2.3rem;
        @include mq(max, tb) { line-height: 2.5rem; }
        @include mq(max, 500) { line-height: 1.8rem; }
      }
    }
  }
}

.introduction-story {
  text-align: center;
  .sub-title {
    width: 45%;
    margin: 100px 0 30px;
    @include mq(max, tb) {
      width: 100%;
      margin: 30px 0;
    }
  }
  &__contents {
    >img {
      margin: 100px 0;
      @include mq(max, tb) {
        width: 100%;
        margin: 30px 0;
      }
    }
  }
}
.story-box {
  text-align: left;
  h5 {
    color: $font_color_red_dark;
    font-size: vw(25, 1500);
    margin-bottom: 10px;
    @include mq(max, tb) {
      font-size: vw(30, tb);
    }
  }
  p {
    line-height: 2.3rem;
    @include mq(max, tb) {
      line-height: 2rem;
    }
  }
}


//もっと見る
.more__btn {
  display: block;
  margin: 20px auto;
  padding: 20px 30px;
  border: 1px solid $border_color_black;
  cursor: pointer;
  width: 200px;
  outline: 0;
  transition: .5s;
  background-color: $back_color_white;

  &::after {
    content: "Read More →";
    transition: .2s;
  }
  &.on-click {
    &:after {
      content: "閉じる";
    }
  }
}

.txt-hide{
  display: none;
}