@use "setting/variable" as *;
@use "setting/mixin" as *;
@use "setting/fonts" as *;
@use "setting/function" as *;
@use "sass:map";

/**
 * [花びら] レイアウト
 */
.side-item {
  position: absolute;
  z-index: 0;
  img {
    width: 120px;
    @include mq(max, 1200) { width: 100px; }
    @include mq(max, tb) { width: auto; }
  }
  &__type1 {
    top: 100px;
    left: -30px;
    @include mq(max, tb) { top: 0; }
  }
  &__type2 {
    right: -30px;
    bottom: 0;
  }
  &__type3 {
    right: -120px;
    bottom: -130px;
  }
  &__type4 {
    top: 300px;
    left: -20px;
  }
  &__type5 {
    right: -20px;
    bottom: 30px;
  }
  &__type6 {
    bottom: -80px;
    right: -70px;
    @include mq(max, 1200) {
      bottom: -60px;
      right: -50px;
    }
  }
  &__type7 {
    left: -90px;
    bottom: 0;
    @include mq(max, 1200) {
      left: -70px;
    }
    @include mq(max, tb) {
      left: auto;
      bottom: -50px;
      right: -60px;
      img { width: 100px; }
    }
  }
  &__type8 {
    top: -120px;
    right: 80px;
    img { width: 60px; }
  }
  &__type9 {
    top: 120px;
    left: -30px;
  }
  &__type10 {
    bottom: -140px;
    left: -30px;
    @include mq(max, tb) {
      left: -60px;
      bottom: -120px;
    }
  }
  &__type11 {
    bottom: 70px;
    left: calc(50% - 200px);
    z-index: -1;
    img {
      width: 100px;
    }
  }
  &__type12 {
    top: 30px;
    left: -30px;
  }
  &__type13 {
    bottom: -50px;
    right: -40px;
  }
  &__type14 {
    top: 70px;
    left: 40px;
  }
  &__type15 {
    top: 20px;
    right: -40px;
  }

  /** スマホ **/
  &__s_type1 {
    top: -80px;
    left: -100px;
    z-index: -1;
  }
  &__s_type2 {
    bottom: -50px;
    right: -40px;
    width: 100px;
  }
  &__s_type3 {
    bottom: -120px;
    left: -50px;
    img { width: 100px; }
  }
  &__s_type4 {
    bottom: -120px;
    left: -50px;
    img { width: 100px; }
  }
  &__s_type5 {
    bottom: -100px;
    right: -40px;
    img { width: 100px; }
  }
  &__s_type6 {
    top: -50px;
    left: -50px;
    width: 100px;
  }
}

/**
 * [タイトル] レイアウト
 */
.title-box {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: vw(35, 1500);
  margin-bottom: 40px;
  @include mq(max, tb) {
    font-size: vw(60, tb);
    margin-bottom: 20px;
  }
}


/* メイン画像
-----------------------------------*/
.b-mainImg_s {
  img {
    width: 100%;
  }
}

/**
 * [メインリスト] レイアウト
 */
.main-list {
  max-width: 75%;
  width: 100%;
  background-color: $back_color_white;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 20px;
  position: relative;
  top: -80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  border-radius: 10px;
  margin: auto;
  @include mq(max, 1200) { max-width: 90%; }
  @include mq(max, tb) {
    display: block;
    padding: 20px;
    max-width: 392px;
    width: 100%;
  }
  &__item {
    width: 100%;
    max-width: 30%;
    @include mq(max, tb) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
      &:last-child { margin-bottom: 0; }
    }
    h3 {
      padding: 10px 0 10px;
      font-size: vw(17, 1500);
      @include mq(max, tb) {
        padding: 10px 0;
        font-size: vw(35, tb);
      }
      &:after {
        content: "";
        display: block;
        width: 82px;
        background-color: $main_color;
        height: 2px;
        margin-top: 8px;
        @include mq(max, tb) {
          margin-top: 5px;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  .cell {
    &:first-child {
      border-radius: 20px;
    }
    &:last-child {
      padding: 0 5px;
    }
  }
}
#sec01 {
  margin-bottom: 40px;
  @include mq(max, ct) {
    margin-bottom: -30px;
  }
}

/**
 * [動画リスト] レイアウト
 */
.movie-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  width: 100%;
  padding: 0 20px 0 30px;
  margin: 0 auto 150px;
  @include mq(max, 1200) { max-width: 90%; }
  @include mq(max, tb) {
    display: block;
    padding: 0;
    margin: 0 auto 75px;
  }
  .cell {
    position: relative;
    &:first-child {
      width: 42%;
      order: 2;
      @include mq(max, tb) {
        width: 100%;
        margin-bottom: 50px;
      }
      strong {
        display: block;
        margin-bottom: 10px;
        color: $main_color;
        font-size: vw(14, 1500);
        @include mq(max, tb) {
          font-size: vw(40, tb);
          margin-bottom: 5px;
        }
      }
      h2 {
        margin-bottom: 25px;
        font-size: vw(21, 1500);
        @include mq(max, tb) {
          font-size: vw(45, tb);
          margin-bottom: 20px;
        }
        &:after {
          content: "";
          display: block;
          width: 50px;
          background-color: $main_color;
          height: 2px;
          margin-top: 15px;
          @include mq(max, tb) {
            margin-top: 12px;
          }
        }
      }
      p {
        color: $font_color_black_thin;
        line-height: 25px;
      }
    }
    &:last-child {
      width: 50%;
      order: 1;
      @include mq(max, tb) { width: 100%; }
    }
  }
}
.movie-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mq(max, tb) {
    display: block;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    transform: skew(6deg, -6deg);
    //box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #FFF;
    @include mq(max, tb) {
      width: 100%;
      transform: skew(0);
      margin-bottom: 60px;
    }
    &:nth-child(-n+2) {
      margin-bottom: 60px;
    }
    .b-movie {
      margin-top: auto;
      a { display: block; }
      img {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
    h3 {
      font-size: vw(18, 1500);
      padding: 15px 12px 0;
      @include mq(max, tb) {
        font-size: vw(35, tb);
      }
    }
    p {
      padding: 5px 12px 12px;
      flex: 1;
      height: 100%;
      min-height: 0;
      background-color: $back_color_white;
      border-radius: 0 0 10px 10px;
      color: $font_color_black_thin;
      @include mq(max, ct) {
        height: auto;
      }
    }
    .b-more {
      display: block;
      text-align: right;
      padding: 0 12px 10px;
      background-color: $back_color_white;
      border-radius: 0 0 10px 10px;
      a {
        display: inline-block;
        font-size: vw(14, 1500);
        @include mq(max, tb) {
          font-size: vw(30, tb);
        }
      }
    }
    .side-item {
      z-index: -1;
    }
  }
}

/**
 * [資格をお持ちの方] レイアウト
 */
.qualification-box {
  text-align: center;
  margin-bottom: 100px;
  .title-box {
    margin-bottom: 60px;
    @include mq(max, tb) { margin-bottom: 40px; }
  }
  &__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    width: 100%;
    margin: auto;
    padding: 30px 50px 30px 100px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
    @include mq(max, 1200) { max-width: 90%; }
    @include mq(max, tb) {
      max-width: 100%;
      display: block;
      padding: 20px;
    }
    .cell {
      width: 45%;
      text-align: left;
      @include mq(max, tb) {
        width: 100%;
        margin-bottom: 30px;
      }
      &:first-child {
        >div {
          a {
            img {
              width: 100%;
              border-radius: 10px;
            }
          }
        }
      }
      &:last-child {
      }
      h3 {
        padding: 10px 0 10px;
        font-size: vw(17, 1500);
        @include mq(max, tb) {
          padding: 10px 0;
          font-size: vw(35, tb);
        }
        &:after {
          content: "";
          display: block;
          width: 60px;
          background-color: $main_color;
          height: 2px;
          margin-top: 8px;
          @include mq(max, tb) {
            margin-top: 5px;
          }
        }
      }
      p {
        strong {
          font-size: vw(18, 1500);
          @include mq(max, tb) {
            font-size: vw(35, tb);
          }
        }
      }
    }
  }
}

/**
 * [協賛・サポート企業] レイアウト
 */
.support-box {
  max-width: 75%;
  width: 100%;
  margin: auto;
  text-align: center;
  @include mq(max, 1200) { max-width: 100%; }
}
.support-list {
  &__item {
    padding: 0 10px;
  }
  .grayscale {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
  a:hover .grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
}

#sponsorship-slider,
#support-slider {
  @include mq(max, tb) {
    pointer-events: none;
    margin: 30px 0 10px;
  }
}
.slick-dotted.slick-slider {
  margin-bottom: 100px;
}
.slick-dots {
  bottom: -50px;
}

#support-slider {
  img {
    width: 80px;
  }
}



.sakura {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sakura li{
  position: absolute;
  list-style: none;
  top: 30px;
  background: #ffdbed;
  border-radius: 0 70%;
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}


@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.sakura li:nth-child(1){
  left: 0;
  width: 24px;
  height: 15px;
  animation: fall 10s linear infinite,
  sway1 3s ease-in-out infinite alternate;
  animation-delay: -1s;
}

//.sakura li:nth-child(2){
//  left: 5%;
//  width: 13px;
//  height: 9px;
//  animation: fall 15s linear infinite,
//  sway1 2s ease-in-out infinite alternate;
//  animation-delay: -1s;
//}

.sakura li:nth-child(3){
  left: 15%;
  width: 16px;
  height: 10px;
  animation: fall 9s linear infinite,
  sway1 3.5s ease-in-out infinite alternate;
  animation-delay: -1s;
}

//.sakura li:nth-child(4){
//  left: 30%;
//  width: 16px;
//  height: 10px;
//  animation: fall 8s linear infinite,
//  sway2 4s ease-in-out infinite alternate;
//  animation-delay: -1s;
//}
.sakura li:nth-child(5){
  left: 40%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
  sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
//.sakura li:nth-child(6){
//  left: 55%;
//  width: 24px;
//  height: 15px;
//  animation: fall 11s linear infinite,
//  sway2 3s ease-in-out infinite alternate;
//  animation-delay: 0s;
//}
.sakura li:nth-child(7){
  left: 65%;
  width: 16px;
  height: 10px;
  animation: fall 7s linear infinite,
  sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 0s;
}
//.sakura li:nth-child(8){
//  left: 50%;
//  width: 13px;
//  height: 9px;
//  animation: fall 7s linear infinite,
//  sway1 3s ease-in-out infinite alternate;
//  animation-delay: 0s;
//}
.sakura li:nth-child(9){
  left: 80%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite,
  sway2 4s ease-in-out infinite alternate;
  animation-delay: -1s;
}