@use "setting/variable" as *;
@use "setting/mixin" as *;
@use "setting/fonts" as *;
@use "setting/function" as *;
@use "sass:map";


/* TOP画像
-----------------------------------*/
.b-mainImg {
  img {
    width: 100%;
  }
}

/* Information - お知らせ -
-----------------------------------*/
#sec01 {
  margin: 60px auto 50px;
  @include mq(max, tb) {
    margin: 30px auto 50px;
  }
  .b-mainTitle {
    text-align: center;
    span {
      top: -5px;
    }
  }
}
.news-list {
  margin: 20px 0;
  &__item {
    width: 100%;
    margin-bottom: 15px;
    &:last-child { margin-bottom: 0; }
    span {
      display: block;
      margin-right: 15px;
      text-align: center;
      @include mq(max, tb) {
        margin-right: 10px;
      }
    }
    a, p {
      display: block;
      font-size: 12px;
      width: calc(100% - 130px - 30px);
      @include mq(max, tb) {
        font-size: 14px;
        width: calc(100% - 120px - 20px);
      }
    }
    a { cursor: pointer; }
    .date-icon {
      width: 60px;
      font-size: 12px;
      @include mq(max, tb) {
        width: 60px;
      }
    }
    .category-icon {
      width: 70px;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      background-color: $main_color;
      color: $font_color_white;
      padding: 2px 0;
      @include mq(max, tb) {
        width: 60px;
        font-size: 13px;
      }
    }
  }
}

/* Works - 実績 -
-----------------------------------*/
#sec02 {
  margin-bottom: 50px;
  .cts {
    margin-bottom: 15px;
  }
}
.works-list {
  max-width: 100%;
  width: 100%;
  margin: 0 auto 35px;
  ul {
    li {
      max-width: 300px;
      width: 100%;
      @include mq(max, tb) {
        max-width: 200px;
      }
      p {
        margin-top: 5px;
        font-size: 12px;
        font-family: "NotoSansJP-Bold";
        @include mq(max, tb) {
          font-size: 14px;
        }
      }
    }
  }
}
#works-top-slider {
  max-width: 350px;
  .slick-slide {
    margin: 0 5px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .slick-list {
    overflow: visible;
  }
}

.philosophy-box {
  max-width: 650px;
  width: 100%;
  margin: auto;
  align-items: end;
  @include mq(max, tb) {
    max-width: 250px;
    display: block;
  }
  .b-mainTitle {
    position: relative;
    h2 {
      font-size: 60px;
      line-height: 60px;
      padding-bottom: 10px;
      @include mq(max, tb) {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 10px;
      }
    }
    span {
      position: absolute;
      top: 30px;
      right: 20px;
      @include mq(max, tb) {
        top: 17px;
        right: 0;
      }
    }
  }
  >p {
    font-family: 'Sawarabi Gothic', sans-serif;
  }
}
.philosophy-list {
  justify-content: center;
  margin: 50px auto 90px;
  @include mq(max, tb) {
    justify-content: space-between;
    align-items: start;
    margin: 30px auto 50px;
  }
  &__item {
    margin-right: 30px;
    text-align: center;
    @include mq(max, tb) {
      margin-right: 0;
      width: 32%;
    }
    &:last-child { margin-right: 0; }
    h3 {
      font-size: 20px;
      margin: 20px 0 8px;
      font-family: "NotoSansJP-Bold";
      @include mq(max, tb) {
        font-size: 16px;
        margin: 10px 0 5px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    >p {
      font-family: 'Sawarabi Gothic', sans-serif;
      @include mq(max, tb) {
        font-size: 10px;
        line-height: 18px;
      }
    }
  }
}

.subMenu-list {
  @include mq(max, tb) {
    display: block;
    padding: 0 10px;
  }
  &__item {
    background-color: $main_color;
    max-width: 430px;
    width: 100%;
    height: 150px;
    @include mq(max, 920) {
      max-width: 48%;
      &:last-child a {
        padding: 20px 30px 20px 20px;
      }
    }
    @include mq(max, tb) {
      max-width: 100%;
      margin-bottom: 20px;
      height: auto;
    }
    a {
      width: 100%;
      height: 100%;
      padding: 0 30px;
      color: $font_color_white;
      @include mq(max, tb) {
        padding: 20px;
      }
      h3 {
        font-size: 38px;
        font-family: "Open Sans", sans-serif;
        @include mq(max, tb) {
          font-size: 28px;
        }
      }
      span {
        display: block;
        font-size: 16px;
        margin-top: -5px;
        @include mq(max, tb) {
          margin-top: 0;
        }
      }
    }
  }
}