@charset "UTF-8";
/**
 * フォント色
 */
/**
 * 背景色
 */
/**
 * 線色
 */
@font-face {
  font-family: "CenturyGothic-Normal";
  src: url(../fonts/CenturyGothic/CenturyGothic-Normal.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Cursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Cursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negreta";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negreta.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negretacursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negretacursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Black";
  src: url(../fonts/NotoSansJP/NotoSansJP-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url(../fonts/NotoSansJP/NotoSansJP-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url(../fonts/NotoSansJP/NotoSansJP-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url(../fonts/NotoSansJP/NotoSansJP-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url(../fonts/NotoSansJP/NotoSansJP-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url(../fonts/NotoSansJP/NotoSansJP-Thin.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(../fonts/Montserrat/Montserrat-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald/Oswald-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-ExtraLight";
  src: url(../fonts/Oswald/Oswald-ExtraLight.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Light";
  src: url(../fonts/Oswald/Oswald-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Medium";
  src: url(../fonts/Oswald/Oswald-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(../fonts/Oswald/Oswald-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-SemiBold";
  src: url(../fonts/Oswald/Oswald-SemiBold.woff2) format("woff2");
  font-display: swap;
}
.under-page__contents {
  margin-bottom: 60px;
}
.under-page__contents .cts {
  margin: 0 auto 60px;
}
@media (max-width: 767px) {
  .under-page__contents .cts {
    margin: 0 auto 40px;
  }
} /**
 * [受講案内 メッセージ] レイアウト
 */
.b-flowMsg__contents {
  display: flex;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: auto;
  position: relative;
}
@media (max-width: 900px) {
  .b-flowMsg__contents {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .b-flowMsg__contents {
    display: block;
    max-width: 100%;
    padding: 0 30px;
  }
}
.b-flowMsg__contents .cell:nth-child(1) {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .b-flowMsg__contents .cell:nth-child(1) {
    margin-right: 0;
  }
}
.b-flowMsg__contents .cell:nth-child(1) ul:first-child {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .b-flowMsg__contents .cell:nth-child(1) ul:first-child {
    margin-bottom: 10px;
  }
}
.b-flowMsg__contents .cell:nth-child(1) ul li {
  padding-left: 1em;
  text-indent: -1em;
}
.b-flowMsg__contents .cell:nth-child(2) img {
  width: 80%;
}
@media (max-width: 767px) {
  .b-flowMsg__contents .cell:nth-child(2) {
    margin-top: 50px;
  }
  .b-flowMsg__contents .cell:nth-child(2) img {
    width: auto;
  }
}
.b-flowMsg__contents .sp {
  text-align: center;
}

.b-flowList {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 40px;
}
@media (max-width: 767px) {
  .b-flowList {
    max-width: 100%;
    margin: 0 auto 30px;
  }
}
.b-flowList__item {
  display: flex;
  align-items: center;
  background-color: #FDDFE4;
  padding: 20px 100px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .b-flowList__item {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .b-flowList__item {
    padding: 15px 10px;
  }
}
.b-flowList__item > img {
  margin-right: 30px;
  width: 2.6666666667vw;
}
@media (max-width: 767px) {
  .b-flowList__item > img {
    margin-right: 10px;
    width: 5.7366362451vw;
  }
}
@media (max-width: 500px) {
  .b-flowList__item > img {
    margin-right: 0;
  }
}
.b-flowList__item > p {
  font-size: 1.2vw;
}
@media (max-width: 767px) {
  .b-flowList__item > p {
    font-size: 2.998696219vw;
  }
}
@media (max-width: 450px) {
  .b-flowList__item > p {
    font-size: 3.6505867014vw;
  }
}
.b-flowList li:nth-child(even) {
  text-align: center;
  margin: 20px 0;
}
@media (max-width: 767px) {
  .b-flowList li:nth-child(even) {
    margin: 10px 0;
  }
}
.b-flowList li:nth-child(even) img {
  width: 25px;
}

.red-txt {
  color: #FF4E54;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0;
}
@media (max-width: 767px) {
  .form-btn {
    margin: 0;
  }
}
.form-btn a {
  display: block;
  margin-right: 60px;
  border: 1px solid #000;
  padding: 20px 30px;
  font-size: 1.0666666667vw;
  color: #1F1F1F;
}
@media (max-width: 767px) {
  .form-btn a {
    margin-right: 0;
    font-size: 2.3468057366vw;
  }
}

/*# sourceMappingURL=flow.css.map */
