@charset "UTF-8";
/**
 * フォント色
 */
/**
 * 背景色
 */
/**
 * 線色
 */
@font-face {
  font-family: "CenturyGothic-Normal";
  src: url(../fonts/CenturyGothic/CenturyGothic-Normal.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Cursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Cursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negreta";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negreta.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negretacursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negretacursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Black";
  src: url(../fonts/NotoSansJP/NotoSansJP-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url(../fonts/NotoSansJP/NotoSansJP-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url(../fonts/NotoSansJP/NotoSansJP-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url(../fonts/NotoSansJP/NotoSansJP-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url(../fonts/NotoSansJP/NotoSansJP-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url(../fonts/NotoSansJP/NotoSansJP-Thin.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(../fonts/Montserrat/Montserrat-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald/Oswald-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-ExtraLight";
  src: url(../fonts/Oswald/Oswald-ExtraLight.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Light";
  src: url(../fonts/Oswald/Oswald-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Medium";
  src: url(../fonts/Oswald/Oswald-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(../fonts/Oswald/Oswald-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-SemiBold";
  src: url(../fonts/Oswald/Oswald-SemiBold.woff2) format("woff2");
  font-display: swap;
}
.b-mainTitle .cell:first-child > div {
  left: 0;
  transform: translateY(-50%) translateX(-10%);
  -webkit-transform: translateY(-50%) translateX(10%);
}
@media (max-width: 767px) {
  .b-mainTitle .cell:first-child > div {
    left: auto;
    transform: unset;
    padding: 50px 30px;
  }
}
.b-mainTitle .cell:first-child > div h2 {
  font-size: 2.6666666667vw;
}
@media (max-width: 767px) {
  .b-mainTitle .cell:first-child > div h2 {
    font-size: 4.5632333768vw;
  }
}
@media (max-width: 767px) {
  .b-mainTitle .cell:first-child > div span {
    font-size: 3.9113428944vw;
  }
}

.under-page__contents .cts {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 60px;
}
@media (max-width: 767px) {
  .under-page__contents .cts {
    max-width: 90%;
  }
}

/**
 * [サブタイトル] レイアウト
 */
.sub-title {
  display: inline-block;
  text-align: center;
  font-size: 1.8666666667vw;
  border-bottom: 1px solid #E8E8E8;
  padding: 0 20px 5px;
}
@media (max-width: 767px) {
  .sub-title {
    font-size: 4.9543676662vw;
    padding: 0 0 5px;
    text-align: left;
  }
}

/**
 * [total healthボックス] レイアウト
 */
.totalHealth-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .totalHealth-box {
    display: block;
  }
}
.totalHealth-box .cell {
  width: 50%;
}
@media (max-width: 767px) {
  .totalHealth-box .cell {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .totalHealth-box .cell:first-child {
    margin-bottom: 40px;
  }
}
.totalHealth-box .cell:first-child p {
  margin: 20px 0;
  line-height: 2.5vw;
}
@media (max-width: 767px) {
  .totalHealth-box .cell:first-child p {
    padding: 0;
    line-height: normal;
  }
}
.totalHealth-box .cell:first-child a {
  display: inline-block;
  border: 1px solid #000;
  padding: 10px 15px;
  color: #1F1F1F;
}
@media (max-width: 767px) {
  .totalHealth-box .cell:first-child a {
    font-size: 3.9113428944vw;
  }
}
.totalHealth-box .sub-title {
  text-align: center;
  display: block;
}
@media (max-width: 767px) {
  .totalHealth-box .sub-title {
    text-align: left;
  }
}

/**
 * [予防ケアコーチ] レイアウト
 */
.coach-box {
  margin: 30px 0 -40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .coach-box {
    display: block;
    margin: 30px 0 0;
  }
}
.coach-box__item {
  width: 49%;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .coach-box__item {
    width: 100%;
    margin-bottom: 0;
  }
}
.coach-box__item p {
  border: 1px solid #F6BCBE;
  padding: 20px 15px;
  line-height: 2.5vw;
  position: relative;
}
@media (max-width: 767px) {
  .coach-box__item p {
    line-height: 6.5vw;
  }
}
.coach-box__item > img {
  position: relative;
  z-index: 0;
}
.coach-box__item:nth-child(1) {
  order: 1;
}
.coach-box__item:nth-child(1) p {
  z-index: 1;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(1) p {
    order: 1;
    width: 85%;
  }
}
.coach-box__item:nth-child(1) > img {
  top: -60px;
  float: right;
  width: 150px;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(1) > img {
    top: -40px;
    right: -10px;
  }
}
.coach-box__item:nth-child(2) {
  width: 35%;
  top: -60px;
  order: 3;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(2) {
    width: 100%;
    top: 0;
  }
  .coach-box__item:nth-child(2) p {
    float: right;
    width: 85%;
  }
}
.coach-box__item:nth-child(2) > img {
  top: -50px;
  right: -100px;
  float: right;
  width: 250px;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(2) > img {
    float: left;
    right: 0;
    top: -15px;
  }
}
.coach-box__item:nth-child(3) {
  top: 70px;
  clear: both;
  order: 2;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(3) {
    top: 20px;
    margin-bottom: 40px;
  }
  .coach-box__item:nth-child(3) p {
    width: 85%;
  }
}
.coach-box__item:nth-child(3) > img {
  top: -20px;
  float: right;
  width: 300px;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(3) > img {
    width: 85%;
    top: -10px;
  }
}
.coach-box__item:nth-child(4) {
  order: 4;
  clear: both;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(4) p {
    width: 90%;
    float: right;
  }
}
.coach-box__item:nth-child(4) > img {
  top: -50px;
  float: right;
  width: 200px;
}
@media (max-width: 767px) {
  .coach-box__item:nth-child(4) > img {
    float: left;
    top: -15px;
  }
}

p.catch-msg {
  text-align: right;
  font-size: 1.6666666667vw;
}

#sec03 {
  text-align: center;
}
@media (max-width: 767px) {
  #sec03 {
    text-align: left;
  }
}
#sec03 .note-txt {
  text-align: left;
  margin: 30px 0;
}

.tab-list {
  display: flex;
  text-align: left;
}
.tab-list__item {
  padding: 15px 30px;
  border-radius: 20px 20px 0 0;
  font-size: 1.6vw;
  cursor: pointer;
}
@media (max-width: 767px) {
  .tab-list__item {
    font-size: 3.9113428944vw;
  }
}
.tab-list__item:hover {
  opacity: 0.75;
}
.tab-list__item.ac:hover {
  opacity: 1;
}
.tab-list__item:nth-child(1) {
  background-color: #FDDFE4;
}
.tab-list__item:nth-child(2) {
  background-color: #F6BCBE;
}
.tab-list__item:nth-child(3) {
  background-color: #DF969A;
}

.tab-contents {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .tab-contents {
    margin-bottom: 40px;
  }
}
.tab-contents li {
  padding: 50px;
  display: none;
}
@media (max-width: 767px) {
  .tab-contents li {
    padding: 20px 10px;
  }
}
.tab-contents li > div {
  padding: 30px;
  background-color: #FFF;
  border-radius: 40px;
}
@media (max-width: 767px) {
  .tab-contents li > div {
    padding: 10px;
  }
}
.tab-contents li.ac {
  display: block;
}
.tab-contents li:nth-child(1) {
  background-color: #FDDFE4;
}
.tab-contents li:nth-child(2) {
  background-color: #F6BCBE;
}
.tab-contents li:nth-child(3) {
  background-color: #DF969A;
}

#sec04 {
  text-align: center;
}
@media (max-width: 767px) {
  #sec04 {
    text-align: left;
  }
}

.merit-list {
  text-align: left;
  margin: 40px 0 80px;
}
.merit-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: #FFF;
  box-shadow: 0 0.625rem 0.625rem 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}
@media (max-width: 767px) {
  .merit-list__item {
    display: block;
    padding: 20px 10px;
  }
}
.merit-list__item .cell:first-child {
  width: 65%;
  padding: 0 20px 0 0;
}
@media (max-width: 767px) {
  .merit-list__item .cell:first-child {
    width: 100%;
    margin-bottom: 20px;
  }
}
.merit-list__item .cell:last-child {
  width: 35%;
}
@media (max-width: 767px) {
  .merit-list__item .cell:last-child {
    width: 100%;
  }
}
.merit-list__item .cell img {
  width: 100%;
}
.merit-list__item:nth-child(2) {
  flex-direction: row-reverse;
}
.merit-list__item:nth-child(2) .cell:first-child {
  padding: 0 0 0 20px;
}
.merit-list__item h4 {
  display: flex;
  align-items: center;
  font-size: 1.8666666667vw;
  color: #F5989D;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .merit-list__item h4 {
    font-size: 4.5632333768vw;
  }
}
.merit-list__item h4 span {
  display: inline-block;
  border-bottom: 2px solid #F5989D;
  font-size: 1.4666666667vw;
  padding-bottom: 2px;
  margin: 0 25px 0 0;
}
@media (max-width: 767px) {
  .merit-list__item h4 span {
    font-size: 5.2151238592vw;
    margin: 0 10px 0 0;
  }
}
.merit-list__item p {
  line-height: 1.5vw;
}
@media (max-width: 767px) {
  .merit-list__item p {
    line-height: 6.5vw;
  }
}
.merit-list__item p strong {
  color: #F5989D;
}

/*# sourceMappingURL=medical_care.css.map */
