@charset "UTF-8";
/**
 * フォント色
 */
/**
 * 背景色
 */
/**
 * 線色
 */
@font-face {
  font-family: "CenturyGothic-Normal";
  src: url(../fonts/CenturyGothic/CenturyGothic-Normal.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Cursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Cursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negreta";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negreta.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negretacursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negretacursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Black";
  src: url(../fonts/NotoSansJP/NotoSansJP-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url(../fonts/NotoSansJP/NotoSansJP-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url(../fonts/NotoSansJP/NotoSansJP-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url(../fonts/NotoSansJP/NotoSansJP-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url(../fonts/NotoSansJP/NotoSansJP-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url(../fonts/NotoSansJP/NotoSansJP-Thin.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(../fonts/Montserrat/Montserrat-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald/Oswald-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-ExtraLight";
  src: url(../fonts/Oswald/Oswald-ExtraLight.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Light";
  src: url(../fonts/Oswald/Oswald-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Medium";
  src: url(../fonts/Oswald/Oswald-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(../fonts/Oswald/Oswald-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-SemiBold";
  src: url(../fonts/Oswald/Oswald-SemiBold.woff2) format("woff2");
  font-display: swap;
}
/**
 * [受講生一覧リスト] レイアウト
 */
.student-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1365px) {
  .student-list {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .student-list {
    display: block;
    max-width: 100%;
    margin: 0 auto 40px;
    padding: 0;
  }
}
.student-list__item {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
  background: rgba(253, 223, 228, 0.57);
  width: 100%;
  max-width: calc((100% - 45px) / 2);
  margin-bottom: 50px;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .student-list__item {
    max-width: 90%;
    display: block;
    margin: 0 auto 30px;
    padding: 30px 45px;
  }
}
@media (max-width: 767px) {
  .student-list__item {
    padding: 20px 30px;
  }
}
.student-list__item .cell:first-child {
  width: 46%;
}
@media (max-width: 767px) {
  .student-list__item .cell:first-child {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
.student-list__item .cell:first-child > p {
  font-size: 1.4666666667vw;
  color: #F5989D;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .student-list__item .cell:first-child > p {
    font-size: 5.2151238592vw;
    margin-top: 15px;
  }
}
.student-list__item .cell:first-child img {
  width: 100%;
}
.student-list__item .cell:last-child {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .student-list__item .cell:last-child {
    width: 100%;
    padding: 0 10px;
  }
}
.student-list__item .cell:last-child strong {
  display: block;
  color: #F5989D;
  font-size: 1.2vw;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .student-list__item .cell:last-child strong {
    font-size: 4.4328552803vw;
    margin-bottom: 10px;
  }
}
.student-list__item .cell:last-child p {
  color: #797373;
}

.note-txt {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  text-align: right;
  color: #797373;
}
@media (max-width: 767px) {
  .note-txt {
    text-align: left;
    max-width: 90%;
  }
}

/*# sourceMappingURL=testimonials.css.map */
