@charset "UTF-8";
/**
 * フォント色
 */
/**
 * 背景色
 */
/**
 * 線色
 */
@font-face {
  font-family: "CenturyGothic-Normal";
  src: url(../fonts/CenturyGothic/CenturyGothic-Normal.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Cursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Cursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negreta";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negreta.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CenturyGothic-Negretacursiva";
  src: url(../fonts/CenturyGothic/CenturyGothic-Negretacursiva.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Black";
  src: url(../fonts/NotoSansJP/NotoSansJP-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url(../fonts/NotoSansJP/NotoSansJP-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url(../fonts/NotoSansJP/NotoSansJP-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url(../fonts/NotoSansJP/NotoSansJP-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url(../fonts/NotoSansJP/NotoSansJP-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url(../fonts/NotoSansJP/NotoSansJP-Thin.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url(../fonts/Montserrat/Montserrat-BlackItalic.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url(../fonts/Montserrat/Montserrat-Black.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald/Oswald-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-ExtraLight";
  src: url(../fonts/Oswald/Oswald-ExtraLight.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Light";
  src: url(../fonts/Oswald/Oswald-Light.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Medium";
  src: url(../fonts/Oswald/Oswald-Medium.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(../fonts/Oswald/Oswald-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald-SemiBold";
  src: url(../fonts/Oswald/Oswald-SemiBold.woff2) format("woff2");
  font-display: swap;
}
/**
 * [花びら] レイアウト
 */
.side-item {
  position: absolute;
  z-index: 0;
  /** スマホ **/
}
.side-item img {
  width: 120px;
}
@media (max-width: 1200px) {
  .side-item img {
    width: 100px;
  }
}
@media (max-width: 767px) {
  .side-item img {
    width: auto;
  }
}
.side-item__type1 {
  top: 100px;
  left: -30px;
}
@media (max-width: 767px) {
  .side-item__type1 {
    top: 0;
  }
}
.side-item__type2 {
  right: -30px;
  bottom: 0;
}
.side-item__type3 {
  right: -120px;
  bottom: -130px;
}
.side-item__type4 {
  top: 300px;
  left: -20px;
}
.side-item__type5 {
  right: -20px;
  bottom: 30px;
}
.side-item__type6 {
  bottom: -80px;
  right: -70px;
}
@media (max-width: 1200px) {
  .side-item__type6 {
    bottom: -60px;
    right: -50px;
  }
}
.side-item__type7 {
  left: -90px;
  bottom: 0;
}
@media (max-width: 1200px) {
  .side-item__type7 {
    left: -70px;
  }
}
@media (max-width: 767px) {
  .side-item__type7 {
    left: auto;
    bottom: -50px;
    right: -60px;
  }
  .side-item__type7 img {
    width: 100px;
  }
}
.side-item__type8 {
  top: -120px;
  right: 80px;
}
.side-item__type8 img {
  width: 60px;
}
.side-item__type9 {
  top: 120px;
  left: -30px;
}
.side-item__type10 {
  bottom: -140px;
  left: -30px;
}
@media (max-width: 767px) {
  .side-item__type10 {
    left: -60px;
    bottom: -120px;
  }
}
.side-item__type11 {
  bottom: 70px;
  left: calc(50% - 200px);
  z-index: -1;
}
.side-item__type11 img {
  width: 100px;
}
.side-item__type12 {
  top: 30px;
  left: -30px;
}
.side-item__type13 {
  bottom: -50px;
  right: -40px;
}
.side-item__type14 {
  top: 70px;
  left: 40px;
}
.side-item__type15 {
  top: 20px;
  right: -40px;
}
.side-item__s_type1 {
  top: -80px;
  left: -100px;
  z-index: -1;
}
.side-item__s_type2 {
  bottom: -50px;
  right: -40px;
  width: 100px;
}
.side-item__s_type3 {
  bottom: -120px;
  left: -50px;
}
.side-item__s_type3 img {
  width: 100px;
}
.side-item__s_type4 {
  bottom: -120px;
  left: -50px;
}
.side-item__s_type4 img {
  width: 100px;
}
.side-item__s_type5 {
  bottom: -100px;
  right: -40px;
}
.side-item__s_type5 img {
  width: 100px;
}
.side-item__s_type6 {
  top: -50px;
  left: -50px;
  width: 100px;
}

/**
 * [タイトル] レイアウト
 */
.title-box {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 2.3333333333vw;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .title-box {
    font-size: 7.8226857888vw;
    margin-bottom: 20px;
  }
}

/* メイン画像
-----------------------------------*/
.b-mainImg_s img {
  width: 100%;
}

/**
 * [メインリスト] レイアウト
 */
.main-list {
  max-width: 75%;
  width: 100%;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 20px;
  position: relative;
  top: -80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: auto;
}
@media (max-width: 1200px) {
  .main-list {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .main-list {
    display: block;
    padding: 20px;
    max-width: 392px;
    width: 100%;
  }
}
.main-list__item {
  width: 100%;
  max-width: 30%;
}
@media (max-width: 767px) {
  .main-list__item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .main-list__item:last-child {
    margin-bottom: 0;
  }
}
.main-list__item h3 {
  padding: 10px 0 10px;
  font-size: 1.1333333333vw;
}
@media (max-width: 767px) {
  .main-list__item h3 {
    padding: 10px 0;
    font-size: 4.5632333768vw;
  }
}
.main-list__item h3:after {
  content: "";
  display: block;
  width: 82px;
  background-color: #F9AE94;
  height: 2px;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .main-list__item h3:after {
    margin-top: 5px;
  }
}
.main-list__item img {
  width: 100%;
}
.main-list .cell:first-child {
  border-radius: 20px;
}
.main-list .cell:last-child {
  padding: 0 5px;
}

#sec01 {
  margin-bottom: 40px;
}
@media (max-width: 1179px) {
  #sec01 {
    margin-bottom: -30px;
  }
}

/**
 * [動画リスト] レイアウト
 */
.movie-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  width: 100%;
  padding: 0 20px 0 30px;
  margin: 0 auto 150px;
}
@media (max-width: 1200px) {
  .movie-box {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .movie-box {
    display: block;
    padding: 0;
    margin: 0 auto 75px;
  }
}
.movie-box .cell {
  position: relative;
}
.movie-box .cell:first-child {
  width: 42%;
  order: 2;
}
@media (max-width: 767px) {
  .movie-box .cell:first-child {
    width: 100%;
    margin-bottom: 50px;
  }
}
.movie-box .cell:first-child strong {
  display: block;
  margin-bottom: 10px;
  color: #F9AE94;
  font-size: 0.9333333333vw;
}
@media (max-width: 767px) {
  .movie-box .cell:first-child strong {
    font-size: 5.2151238592vw;
    margin-bottom: 5px;
  }
}
.movie-box .cell:first-child h2 {
  margin-bottom: 25px;
  font-size: 1.4vw;
}
@media (max-width: 767px) {
  .movie-box .cell:first-child h2 {
    font-size: 5.8670143416vw;
    margin-bottom: 20px;
  }
}
.movie-box .cell:first-child h2:after {
  content: "";
  display: block;
  width: 50px;
  background-color: #F9AE94;
  height: 2px;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .movie-box .cell:first-child h2:after {
    margin-top: 12px;
  }
}
.movie-box .cell:first-child p {
  color: #797373;
  line-height: 25px;
}
.movie-box .cell:last-child {
  width: 50%;
  order: 1;
}
@media (max-width: 767px) {
  .movie-box .cell:last-child {
    width: 100%;
  }
}

.movie-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .movie-list {
    display: block;
  }
}
.movie-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 45%;
  transform: skew(6deg, -6deg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .movie-list__item {
    width: 100%;
    transform: skew(0);
    margin-bottom: 60px;
  }
}
.movie-list__item:nth-child(-n+2) {
  margin-bottom: 60px;
}
.movie-list__item .b-movie {
  margin-top: auto;
}
.movie-list__item .b-movie a {
  display: block;
}
.movie-list__item .b-movie img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.movie-list__item h3 {
  font-size: 1.2vw;
  padding: 15px 12px 0;
}
@media (max-width: 767px) {
  .movie-list__item h3 {
    font-size: 4.5632333768vw;
  }
}
.movie-list__item p {
  padding: 5px 12px 12px;
  flex: 1;
  height: 100%;
  min-height: 0;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
  color: #797373;
}
@media (max-width: 1179px) {
  .movie-list__item p {
    height: auto;
  }
}
.movie-list__item .b-more {
  display: block;
  text-align: right;
  padding: 0 12px 10px;
  background-color: #FFF;
  border-radius: 0 0 10px 10px;
}
.movie-list__item .b-more a {
  display: inline-block;
  font-size: 0.9333333333vw;
}
@media (max-width: 767px) {
  .movie-list__item .b-more a {
    font-size: 3.9113428944vw;
  }
}
.movie-list__item .side-item {
  z-index: -1;
}

/**
 * [資格をお持ちの方] レイアウト
 */
.qualification-box {
  text-align: center;
  margin-bottom: 100px;
}
.qualification-box .title-box {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .qualification-box .title-box {
    margin-bottom: 40px;
  }
}
.qualification-box__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  width: 100%;
  margin: auto;
  padding: 30px 50px 30px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .qualification-box__contents {
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .qualification-box__contents {
    max-width: 100%;
    display: block;
    padding: 20px;
  }
}
.qualification-box__contents .cell {
  width: 45%;
  text-align: left;
}
@media (max-width: 767px) {
  .qualification-box__contents .cell {
    width: 100%;
    margin-bottom: 30px;
  }
}
.qualification-box__contents .cell:first-child > div a img {
  width: 100%;
  border-radius: 10px;
}
.qualification-box__contents .cell h3 {
  padding: 10px 0 10px;
  font-size: 1.1333333333vw;
}
@media (max-width: 767px) {
  .qualification-box__contents .cell h3 {
    padding: 10px 0;
    font-size: 4.5632333768vw;
  }
}
.qualification-box__contents .cell h3:after {
  content: "";
  display: block;
  width: 60px;
  background-color: #F9AE94;
  height: 2px;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .qualification-box__contents .cell h3:after {
    margin-top: 5px;
  }
}
.qualification-box__contents .cell p strong {
  font-size: 1.2vw;
}
@media (max-width: 767px) {
  .qualification-box__contents .cell p strong {
    font-size: 4.5632333768vw;
  }
}

/**
 * [協賛・サポート企業] レイアウト
 */
.support-box {
  max-width: 75%;
  width: 100%;
  margin: auto;
  text-align: center;
}
@media (max-width: 1200px) {
  .support-box {
    max-width: 100%;
  }
}

.support-list__item {
  padding: 0 10px;
}
.support-list .grayscale {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.support-list a:hover .grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

@media (max-width: 767px) {
  #sponsorship-slider,
#support-slider {
    pointer-events: none;
    margin: 30px 0 10px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 100px;
}

.slick-dots {
  bottom: -50px;
}

#support-slider img {
  width: 80px;
}

.sakura {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sakura li {
  position: absolute;
  list-style: none;
  top: 30px;
  background: #ffdbed;
  border-radius: 0 70%;
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite alternate;
}

@keyframes fall {
  to {
    top: 120%;
  }
}
@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}
@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}
.sakura li:nth-child(1) {
  left: 0;
  width: 24px;
  height: 15px;
  animation: fall 10s linear infinite, sway1 3s ease-in-out infinite alternate;
  animation-delay: -1s;
}

.sakura li:nth-child(3) {
  left: 15%;
  width: 16px;
  height: 10px;
  animation: fall 9s linear infinite, sway1 3.5s ease-in-out infinite alternate;
  animation-delay: -1s;
}

.sakura li:nth-child(5) {
  left: 40%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite, sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}

.sakura li:nth-child(7) {
  left: 65%;
  width: 16px;
  height: 10px;
  animation: fall 7s linear infinite, sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 0s;
}

.sakura li:nth-child(9) {
  left: 80%;
  width: 16px;
  height: 10px;
  animation: fall 10s linear infinite, sway2 4s ease-in-out infinite alternate;
  animation-delay: -1s;
}

/*# sourceMappingURL=top.css.map */
