//////////////
// 基本設定 //
/////////////

// 画面幅
$mainWidth: 1140px;
$pc: 1919;
$ct: 1179;
$tb: 767;
$sp: 414; //iphoneX plus

// ブレイクポイント
$breakpoints: (
    pc: $pc,
    ct: $ct,
    tb: $tb,
    sp: $sp,
);


// サイトカラー
$main_color: #F9AE94; // メインカラー
$main_back_color: #FFFDFE; // 各画面の背景色
$flow_back_color: #FAEEEA; // 流れるニュースの背景色

$color_pink: #F0525A;
$color_pink_dark: #EA313C;
$color_pink_dark_2: #F5989D;
$color_pink_thin: #FFDDD1;
$color_pink_thin_1: #FFF2F5;
$color_pink_thin_2: #FDDFE4;
$color_orangePink: #F9AE94;

/**
 * フォント色
 */
$font_color_black: #1F1F1F;
$font_color_black_dark: #000;
$font_color_black_thin: #797373;
$font_color_white: #FFF;
$font_color_red: #E64040;
$font_color_red_dark: #FF4E54;


/**
 * 背景色
 */
$back_color_gray: #6E6B6B;
$back_color_white: #FFF;
$back_color_black: #000;

/**
 * 線色
 */
$border_color_black: #000;
$border_color_black_thin: #E8E8E8;

// body
$body_color: $main_back_color;

// コンテンツエリア
$ct_padding: (
    pc: 40px,
    sp: 16px,
);


/////////////////
// テキスト設定 //
/////////////////

// ベーステキストカラー
$base_text_color: $font_color_black;

// リンクテキストカラー
$link_text_color: $main_color;

// line-hight
$base_lineHight: 1.5;

// フォントサイズ
$base_fontSize: 16;

// font-family
$base_font: "NotoSansJP-Regular","游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;