//////////////
// 基本設定 //
/////////////

// 画面幅
$mainWidth: 1140px;
$pc: 1919;
$ct: 1179;
$tb: 767;
$sp: 414; //iphoneX plus

// ブレイクポイント
$breakpoints: (
    pc: $pc,
    ct: $ct,
    tb: $tb,
    sp: $sp,
);


// サイトカラー
$main_color: #316933; // メインカラー
$main_back_color: #FFFDFE; // 各画面の背景色

/**
 * フォント色
 */
$font_color_black: #000;
$font_color_black_thin: #707070;
$font_color_white: #FFF;


/**
 * 背景色
 */
$back_color_white: #FFF;
$back_color_black: #616161;
$back_color_black_dark: #000;
$back_color_black_thin: #F5F5F5;
$back_color_gray: #F9F8F8;

/**
 * 線色
 */
$border_color_black: #000;
$border_color_black_thin: #E5E5E5;

// body
$body_color: $main_back_color;

// コンテンツエリア
$ct_padding: (
    pc: 40px,
    sp: 16px,
);


/////////////////
// テキスト設定 //
/////////////////

// ベーステキストカラー
$base_text_color: $font_color_black;

// リンクテキストカラー
$link_text_color: $font_color_black;

// line-hight
$base_lineHight: 1.5;

// フォントサイズ
$base_fontSize: 16;

// font-family
$base_font: "NotoSansJP-Regular","游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;